@font-face {
    font-family: 'FiraSans-Medium';
    src: url("fonts/FiraSans-Medium.ttf");   
}
@font-face {
    font-family: 'Prompt-Bold';
    src: url("fonts/Prompt-Bold.ttf");   
}
@font-face {
    font-family: 'Prompt-Regular';
    src: url("fonts/Prompt-Regular.ttf");   
}
.grecaptcha-badge {
    visibility: hidden;
} 
.icon-WAPS{
    max-width: 200px;
}
.icon-WAPS-phone{
    max-width: 150px;
}
.call-action{
    color: #000;
    background: none;
    border-color: #000;
}
.call-action:hover{
    background: linear-gradient(to right,#910ec6,#c12cb9);
    color: #fff;
    border-color: linear-gradient(to right,#910ec6,#c12cb9);
}
.call-action a:hover{
    color: #fff;
}
.call-action a{
    color: #000;
}
#mensaje-agradecimiento{
    display: none;
}
h1,h2, h3,h4,h5{
    font-family: 'Prompt-Bold';
    text-transform: uppercase;
}
p{
    color: #000; 
    font-family: 'FiraSans-Medium';
}
a{
    text-decoration: none;
}
.showcase{
    position: relative;
    width: 100%;
    height: 98vh;
    min-height: 25rem;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000;
    color: #fff;
    z-index: 2;
}
.showcase header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.showcase video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.text{
    position: relative;
    top: -280px;
    left: 450px;
}
.social{
    top: 400px;
    left: 0;
    position: absolute;
}
.social img{
    margin-bottom: 20px;
}
.social li{
    list-style: none;
}
.social li a {
    color: #fff;
    margin-bottom: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}
.social li a:hover{
    transform: scale(0.5) translateY(-15px);
}
#btn-contacto{
    border-color: white;
    color: white;
    border: 3px solid white;
    border-radius: 4px;
    width: 120px;
    font-family: 'Prompt-Bold';
}
#btn-contacto a{
    text-decoration: none;
    color: white;
}
#btn-contacto:hover{
    background-color: transparent;
}
#logo{
    max-width: 200px;
}
#contacto-form h1{
    color: #fff;
    font-size: 4.5rem;
}
#contacto-form{
    margin-top: 160px;
}
#mensaje-agradecimiento{
    color: white;
    display: none;
}
#mensaje-agradecimiento a{
    color: white;
}
#mensaje-agradecimiento h1{
    background: -webkit-linear-gradient(79.33deg,#810CCE 19.6%,#EE1796 80.4%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 6.5rem;
}
.gris{
    background-color: #E9E9E9;
}
.negro{
    background-color: #000000;
}
footer{
    background-color: #000000;
    color: #fff;
    padding: 0rem 0rem 5rem 0rem;
}
footer a{
    text-decoration: none;
    color: #fff;
}
footer a:hover{
    color: #fff;
}
input, label{
    font-family: 'FiraSans-Medium';
    color: #000000;
}
.borde-bottom{
    border: none;
    border-bottom: 3px solid #000000;
    border-radius: 0;
}
.form-contacto{
    background-color: #fff;
    padding: 40px 30px;
    max-width: 750px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.contacto h1{
    color: #fff;
    font-size: 4.3rem;
}
.servicios h1{
    color: #fff;
    font-size: 4.3rem;
}
.btn-enviar{
    background: none;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 0;
    width: 200px;
    font-family: 'Prompt-Bold';
}
.btn-conoce{
    background: none;
    color: #fff;
    width: 450px;
    border-radius: 0;
    margin-top: 100px;
    font-size: 1.8rem;
    font-family: 'Prompt-Bold';
}
.btn-conoce a{
    color: #fff;
}
.btn-conoce:hover{
    background: none;
    color: #fff;
}
.como{
    background: #FFFFFF;
    box-shadow: 0px 12px 30px 12px rgba(152, 153, 153, 0.3);
    border-radius: 10px;
    padding: 5px 10px;
}
.como img{
    max-width: 70px;
}
.text-pa{
    font-family: 'FiraSans-Medium';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-left: 1.5rem;
}
.icono-como{
    float: left;
}
.texto-morado{
    background: linear-gradient(to right,#910ec6,#c12cb9);
    -webkit-background-clip: text;
    color: transparent; 
}
.texto-azul{
    background: linear-gradient(to right,#04b4c3,#03d9be);
    -webkit-background-clip: text;
    color: transparent;
}
.video-bg_video{
    width: 100%;
    height: 100%;
}
@media (max-width: 575.98px) { 
    .showcase header{
        padding: 0;
    } 
    .showcase {
      min-height: 18rem;
      height: 18rem;
    }
    .showcase video {
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    .social{
        margin-top: -90px;
        display: flex;
        margin-left: 5rem;
    }
    .social img{
        margin-right: 20px;
    }
    .btn-conoce{
        max-width: 350px;
    }
  }
  
  @media (max-width: 767.98px) { 
    .showcase header{
        padding: 0;
    } 
    .showcase {
      min-height: 18rem;
      height: 20rem;
    }
    .showcase video {
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    .social{
        display: flex;
        margin-left: 5rem;
    }
    .social img{
        margin-right: 20px;
    }
  }
  
  @media (max-width: 991.98px) { 
    .showcase header{
        padding: 0;
    } 
    .showcase {
      min-height: 22rem;
      height: 22rem;
    }
    .showcase video {
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    .social{
        display: flex;
        margin-left: 5rem;
    }
    .social img{
        margin-right: 20px;
    }
  }